<h2 class="sub-header">Sign In</h2>


<p><%= flash[:invalid]? flash[:invalid]:"" %></p>

<p><a class='button' href=<%= new_user_path%>>Sign Up</a></p>


<form class="form" action="/session" method="POST">
  <input
    type="hidden"
    name="authenticity_token"
    value="<%= form_authenticity_token %>">
<p>
  <label for="user_email">Email</label>
  <input type="text" name="user[email]" id="user_email">
</p>
 
<p>
  <label for="user_password">Password</label>
  <input type="password" name="user[password]" id="user_password">
<p>

<p>  <input type="submit" class="button" value="Log in!"></p>
</form>