html, body, div, ul, ol, li, p, h1, h2, h3, h4, a, button,form, label {
    margin: 0;
    padding: 0;
    border: 0;   
    text-decoration: none;
    text-align: inherit;
    box-sizing: content-box;
  
}


ol, ul {
  list-style: none;
}

