<h2 class="page-header"> Bands</h2>


<ul class="main-list">
<% @bands.each do |item| %>
  <li><a href="<%= band_path(item)%>"><p><%= item.name%></p></a></li>

<% end %>
</ul>
<h3><%= link_to "Create Bands", new_band_url, class:'button'%></h3>