<h2 class="page-header">Create User </h2>


<% if flash.now[:errors]%>

<p> 
<ul>
<% flash.now[:errors].each do |item| %>
  <li><%=item%></li>
<% end %>

</ul>
</p>

<% end %>

<form class="form" action="<%= users_path%>" method="post">

<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
<p><label > Email </label>

<input type="email" name='user[email]' value="<%= @user.email%>"/><p>

<p><label > Password </label>

<input type="password" name='user[password]'/>
</p>

  <input type="submit" value="Sign Up" class="button">

</form>