<h1>Create User </h1>


<% if flash[:errors]%>

<div> 
<ul>
<% flash[:errors].each do |item| %>
  <li><%=item%></li>
<% end %>

</ul>
</div>

<% end %>

<form action="<%= users_path%>" method="post">
<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
<label > Email </label>

<input type="email" name='user[email]' value="<%= @user.email%>"/>

<br/>

<label > Password </label>

<input type="password" name='user[password]'/>

  <input type="submit" value="Sign Up">

</form>