

<h1>SIGN IN</h1>

<%= link_to  'Sign Up', new_user_path%>
<% if flash[:err]%>
<p> <%= flash[:err] %> </p>
<%end%>

<form action="/sessions/login" method="post">

<input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>"/>

<p>

<label> UserName </label>
<input type="text" name="user[username]" />
</p>

<p>

<label> Password </label>
<input type="password" name="user[password]" />
</p>


<input type="submit" value="SIGN IN">

</form>


