
<h2 class="sub-header"> Notes </h2>
<div class="note-items">
<% notes.each do |item| %>
<div class="note-items-info">

  <p><%= item.content %> by <%= item.user.email%> </p>
<% if current_user.id==item.user_id %>
   <form  action ="<%=note_path(item)%>" method="post">
    <input type="hidden" name="_method" value="DELETE">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" >
      <input type="submit" value="Delete Note" class="button">
  </form>

<% end %> 
</div>
<% end %>

</div>